<div class="card">
    <div class="blurring dimmable image">
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                    <div class="ui inverted button cstm_playlist_button">Add to playlist</div>
                </div>
            </div>
        </div>
        <img width="480px" height="360px" src="{{thumbnail}}">
    </div>
    <div class="content">
        <p class="header">{{title}}</p>
    </div>

    <div class="extra content">
        <i class="wait icon"></i>{{duration}}
    </div>
</div>
