.following.bar.light {
    background-color: white;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04);
}
.following.bar {
    z-index: 900;
    left: 0;
    width: 100%;
}
.cstm_playlist_button {
    padding: 20px !important;
}
.ui.card, .ui.cards>.card {
    width: 271px !important;
}
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

footer {
    height: 40px;
    padding: 10px 0;
    width: 100%;
    background-color: black;
}

.footer-content {
    color: #FFF;
}
